
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid gray;

}

.message-info{
background-color: #1be3f6;
}

.message-success{
background-color: #35cb1e;
}

.message-warning{
background-color: #dce312;
}

.message-error{
background-color: #ee082e;
}