.container-fluid.cv-hero {
    min-height: 30vh;
    max-width: 81em;
    background-image: url("../images/pizza2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.cart {
    width: 20px;
    height: 20px
}

.list-select-padding {
    padding-left: 1em;
}

.search-font {
    font-size: 10px;
}