.fancy-header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
}
.tenthPre{
    border-radius: 50px;
    float: right;

   }
.tenthPre:hover {
    width: 250px;
    transition: 1s;
}

.body-bg {
    background-color: #7EDADAFF;
    background-image: url("../images/abstarct-sun-img.jpeg");
    background-size: cover;
    background-attachment: fixed;

}

ul li, ol li {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
}
ol li {
    list-style-type: upper-roman;
}
ul li:hover {
    list-style-type: square;
    font-size: 30px;
    transition: 1s;
}
ol li:hover{
    font-size: 30px;
    transition: 1s;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.offer-table td , .offer-table th{
    padding: 10px;
    color: #000000;

}
a {
    font-size: 15px;
}
a:visited {
    color: #e3092d;
}
a:hover{
    font-size: 25px ;
    transition: font-size 1s;
}
td>img {
    aspect-ratio: 4 / 3;
    width: 450px;
object-fit: cover;
    object-position: top;
    border-radius: 20px;
    border: 5px solid #fff;
}
td>img:hover{
    width: 600px;
    transition: 1.5s;
}